.featuredprod{
    margin: 70px 100px 150px;
    @media only screen and (max-width:435px) {
        margin: 70px auto;
        width: 300px;
    }
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        font-size: 24px;
    }
    .bottom{
        display: flex;
        justify-content: center;
        gap: 50px;
        @media only screen and (max-width:435px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }
}
@media only screen and (max-width:435px) {
    .bottom{
        display: flex;
        flex-wrap: wrap;
        width: 200px;
        gap: 20px;
    }
}